# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Environment Variables
.env

# Log Files
*.log

# Operating System
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/